@import '~Osm_Ui_Aba/_variables-and-mixins.scss';

/*-------------------------------------------------------------------*\
  #COLOR-PALETTE
\*-------------------------------------------------------------------*/

$color--book-page--inline-code: #f5f5f5;
$color--book-page--on-inline-code: black;

$color--book-page--code-block: #f8f8f8;
$color--book-page--code-block-border: #ccc;

$color--book-page--quote-border: #ddd;
$color--book-page--on-quote: #777;

$color--book-page--heading-line: #a2a9b1;
$color--book-page--image-line: #021a40;


