@import '~Manadev_Ui_Aba/_variables-and-mixins.scss';

/*-------------------------------------------------------------------*\
  #COLOR-PALETTE
\*-------------------------------------------------------------------*/

$color--book-page--inline-code: #f5f5f5;
$color--book-page--on-inline-code: black;

$color--book-page--code-block: #353a41;
$color--book-page--on-code-block: #fafafa;

$color--book-page--quote: linear-gradient(to right, #64B5F6, #d8ecfd);
$color--book-page--on-quote: #fafafa;

$color--book-page--heading-line: #a2a9b1;
$color--book-page--image-line: #021a40;


