@import '~Manadev_Ui_Aba/_variables-and-mixins.scss';
@import './_variables.scss';

.breadcrumbs__items,
.html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: $line-height--base;
}

.breadcrumbs {
  display: flex;

  &__items {
    flex-grow: 1;
  }
}

.html {
  a, code {
    overflow-wrap: break-word;
    word-break: break-all;
  }

  code {
    padding: rem(1px) rem(4px);
    background-color: $color--book-page--inline-code;
    color: $color--book-page--on-inline-code;
    border-radius: rem(3px);
  }

  pre {
    background-color: $color--book-page--code-block;
    color: $color--book-page--on-code-block;

    overflow: auto;
    padding: rem(15px);

    code {
      background-color: $color--book-page--code-block;
      color: $color--book-page--on-code-block;
      padding: 0;
    }
  }

  h1 {
    line-height: 1.3;
    margin-bottom: 0.25em;
    border-bottom: rem(1px) solid $color--book-page--heading-line;
  }

  blockquote { // TODO
    border-radius: rem(12px);
    background: $color--book-page--quote;
    color: $color--book-page--on-quote;
    margin: 0 0 rem(15px);
    padding: rem(1px) rem(1px) rem(1px) rem(10px);

    p {
      padding-left: rem(15px);
    }
  }

  img {
    border: rem(1px) solid $color--book-page--image-line;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}
