@import '~Osm_Ui_Aba/_variables-and-mixins.scss';

$width--book-page-tree: rem(280px);
$width--book-page-drawer: rem(296px);

.tree-container {
  display: flex;

  & > * {
    flex: 1 0;
    width: 0;
    padding: 0 rem(12px);

    &:first-child {
      padding-right: 0;
      order: 2;
    }

    &:last-child {
      padding-left: 0;
      order: 1;
    }
  }
}

.tree-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $width--book-page-drawer;
  background: $color--surface;
  overflow-y: auto;
  z-index: $z-index--snack-bar;
  box-shadow: shadow($z-index--snack-bar);
  padding: 0 rem(8px);
  &.-hidden {
    left: -$width--book-page-drawer;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.tree {
  min-width: $width--book-page-tree;
  max-width: $width--book-page-tree;
  padding-top: rem(10px);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: rem(13px);

  &.-hidden {
    display: none;
  }

  &__items {
    @include no-list-formatting();
    padding-left: rem(16px);

    &.-level0 {
      padding-left: 0;
    }

    &.-collapsed {
      display: none;
    }
  }

  &__item {
  }

  &__item-header {
    display: flex;
  }

  &__item-icon {
    width: rem(32px);
    height: rem(32px);
    line-height: rem(32px);
    text-align: center;

    &.-hidden {
      visibility: hidden;
    }

    &.-clickable {
      cursor: pointer;
    }
  }

  &__item-title {
    flex-grow: 1;
    width: 0;

    &.-current {
      font-weight: bold;
    }

    padding-top: rem(8px);
  }
}